<%-include("header")-%>




<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>

<div class="inside">
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link <%=active1%>" href="/">Today</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%=active2%>" href="/Work">Work</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%=active3%>" href="/Books">Books</a>
  </li>

</ul>
</div>

</div>

<div class="boxi">
  <%newListItems.forEach(function(item){%>
  <form class="" action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" onChange="this.form.submit()" value="<%=item.id%>">
      <p><%=item.name%></p>
      <input type="hidden" name="listName" value=<%=listTitle%>>

    </div>
  </form>
  <%  })%>
  </div>

<div class="box">


  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value=<%=listTitle%>>+</button>
  </form>
</div>

<%- include("footer") -%>
